# Intrduction to NumPy


#### 1. Import NumPy under the name np.

In [2]:
# your code here
import numpy as np

#### 2. Print your NumPy version.

In [3]:
# your code here
print(np.__version__)

1.16.5

#### 3. Generate a 2x3x5 3-dimensional array with random values. Assign the array to variable *a*.
**Challenge**: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?

In [6]:
# Method 1
a=np.random.random((2,3,5))

In [116]:
# Method 2
np.random.randint(5)

1

In [ ]:
# Method 3

#### 4. Print *a*.

In [8]:
# your code here
print(a)

[[[0.29473985 0.58006231 0.91745979 0.92768728 0.01459947]
  [0.42756094 0.6905053  0.6401408  0.87495922 0.59722082]
  [0.0585985  0.07287276 0.0726555  0.68150092 0.16990692]]

 [[0.93895981 0.07977779 0.73691498 0.06752221 0.35363286]
  [0.53597531 0.64373914 0.53009246 0.57809212 0.77180188]
  [0.80739796 0.48994998 0.58689112 0.94352012 0.63606986]]]

#### 5. Create a 5x2x3 3-dimensional array with all values equaling 1. Assign the array to variable *b*.

In [39]:
# your code here
b=np.full((5,2,3),1)
#np.ones((5,2,3)) also works ; values will be float

#### 6. Print *b*.

In [40]:
# your code here
print(b)

[[[1 1 1]
  [1 1 1]]

 [[1 1 1]
  [1 1 1]]

 [[1 1 1]
  [1 1 1]]

 [[1 1 1]
  [1 1 1]]

 [[1 1 1]
  [1 1 1]]]

#### 7. Do *a* and *b* have the same size? How do you prove that in Python code?

In [22]:
# your code here
if a.size == b.size:
    print("a and b do have the same size (number of elements) ; "+str(a.size))

a and b do have the same size (number of elements) ; 30

#### 8. Are you able to add *a* and *b*? Why or why not?

In [23]:
# your answer here
a+b

ValueError: operands could not be broadcast together with shapes (2,3,5) (5,2,3)

In [ ]:
# Adding a and b is not possible since they do not have the same shape

#### 9. Transpose *b* so that it has the same structure of *a* (i.e. become a 2x3x5 array). Assign the transposed array to variable *c*.

In [117]:
# your code here
np.transpose(b)

array([[[1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1]],

       [[1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1]],

       [[1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1]]])

In [118]:
b.transpose((1,2,0)) # we have to choose the position of the indicator here, by using their index
# so that 5,2,3 becomes 2,3,5

array([[[1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1]],

       [[1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1]]])

In [44]:
b.reshape(2,3,5)

array([[[1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1]],

       [[1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1]]])

In [46]:
c=b.reshape(2,3,5)

#### 10. Try to add *a* and *c*. Now it should work. Assign the sum to variable *d*. But why does it work now?

In [49]:
# your code/answer here
d=a+c

In [48]:
# It works now because we reshaped b to the shape of a (as c)

#### 11. Print *a* and *d*. Notice the difference and relation of the two array in terms of the values? Explain.

In [55]:
# your code/answer here
print(a)

[[[0.29473985 0.58006231 0.91745979 0.92768728 0.01459947]
  [0.42756094 0.6905053  0.6401408  0.87495922 0.59722082]
  [0.0585985  0.07287276 0.0726555  0.68150092 0.16990692]]

 [[0.93895981 0.07977779 0.73691498 0.06752221 0.35363286]
  [0.53597531 0.64373914 0.53009246 0.57809212 0.77180188]
  [0.80739796 0.48994998 0.58689112 0.94352012 0.63606986]]]

In [56]:
print(d)

[[[1.29473985 1.58006231 1.91745979 1.92768728 1.01459947]
  [1.42756094 1.6905053  1.6401408  1.87495922 1.59722082]
  [1.0585985  1.07287276 1.0726555  1.68150092 1.16990692]]

 [[1.93895981 1.07977779 1.73691498 1.06752221 1.35363286]
  [1.53597531 1.64373914 1.53009246 1.57809212 1.77180188]
  [1.80739796 1.48994998 1.58689112 1.94352012 1.63606986]]]

In [ ]:
# each corresponding values inside a and d were added while keeping the shape of the array
# d is a with +1 for each values

#### 12. Multiply *a* and *c*. Assign the result to *e*.

In [119]:
# your code here
e=np.multiply(a,c)

#### 13. Does *e* equal to *a*? Why or why not?

In [120]:
print(e)

[[[0.29473985 0.58006231 0.91745979 0.92768728 0.01459947]
  [0.42756094 0.6905053  0.6401408  0.87495922 0.59722082]
  [0.0585985  0.07287276 0.0726555  0.68150092 0.16990692]]

 [[0.93895981 0.07977779 0.73691498 0.06752221 0.35363286]
  [0.53597531 0.64373914 0.53009246 0.57809212 0.77180188]
  [0.80739796 0.48994998 0.58689112 0.94352012 0.63606986]]]

In [65]:
print(a)

[[[0.29473985 0.58006231 0.91745979 0.92768728 0.01459947]
  [0.42756094 0.6905053  0.6401408  0.87495922 0.59722082]
  [0.0585985  0.07287276 0.0726555  0.68150092 0.16990692]]

 [[0.93895981 0.07977779 0.73691498 0.06752221 0.35363286]
  [0.53597531 0.64373914 0.53009246 0.57809212 0.77180188]
  [0.80739796 0.48994998 0.58689112 0.94352012 0.63606986]]]

In [66]:
# your code/answer here
if np.sum(e) == np.sum(a):
    print("e is equal to a")
else :
    print("e is not equal to a")

e is equal to a

In [ ]:
# a is equal to e because they have the same values, since e is a*c where c is an array full of 1

#### 14. Identify the max, min, and mean values in *d*. Assign those values to variables *d_max*, *d_min* and *d_mean*.

In [70]:
# your code here
d_max = np.max(d)
d_min = np.min(d)
d_mean = np.mean(d)

#### 15. Now we want to label the values in *d*. First create an empty array *f* with the same shape (i.e. 2x3x5) as *d* using `np.empty`.

In [89]:
# your code here
f = np.empty([2,3,5])

In [90]:
print(f)

[[[0.29473985 0.58006231 0.91745979 0.92768728 0.01459947]
  [0.42756094 0.6905053  0.6401408  0.87495922 0.59722082]
  [0.0585985  0.07287276 0.0726555  0.68150092 0.16990692]]

 [[0.93895981 0.07977779 0.73691498 0.06752221 0.35363286]
  [0.53597531 0.64373914 0.53009246 0.57809212 0.77180188]
  [0.80739796 0.48994998 0.58689112 0.94352012 0.63606986]]]

#### 16. Populate the values in *f*. 

For each value in *d*, if it's larger than *d_min* but smaller than *d_mean*, assign 25 to the corresponding value in *f*. If a value in *d* is larger than *d_mean* but smaller than *d_max*, assign 75 to the corresponding value in *f*. If a value equals to *d_mean*, assign 50 to the corresponding value in *f*. Assign 0 to the corresponding value(s) in *f* for *d_min* in *d*. Assign 100 to the corresponding value(s) in *f* for *d_max* in *d*. In the end, f should have only the following values: 0, 25, 50, 75, and 100.

**Note**: you don't have to use Numpy in this question.

In [105]:
# your code here

def handle_d_val(x,d_max,d_min,d_mean):
    
    x = float(x)
    
    if (x > d_min) & (x < d_mean):
        res = 25

    elif (x > d_mean) & (x < d_max):
        res = 75
        
    elif x == d_mean:
        res = 50
    
    elif x == d_min:
        res = 0
    
    elif x == d_max:
        res = 100
    
    return res



for i in d:
    ind_1 += 1
    for j in i:
        ind_2 += 1
        for k in j:
            ind_3 += 1
            f[i][j][k]=handle_d_val(k,d_max,d_min,d_mean)

NameError: name 'ind_1' is not defined

In [104]:
i

array([[1.29473985, 1.58006231, 1.91745979, 1.92768728, 1.01459947],
       [1.42756094, 1.6905053 , 1.6401408 , 1.87495922, 1.59722082],
       [1.0585985 , 1.07287276, 1.0726555 , 1.68150092, 1.16990692]])

In [ ]:
lambda x: 0 if x==d_min else 25 if x<d_mean else 50 if x==d_mean else 75 if x<d_max else 100

In [121]:
d.ravel() # create a 1 dimension array with values from the array

array([1.29473985, 1.58006231, 1.91745979, 1.92768728, 1.01459947,
       1.42756094, 1.6905053 , 1.6401408 , 1.87495922, 1.59722082,
       1.0585985 , 1.07287276, 1.0726555 , 1.68150092, 1.16990692,
       1.93895981, 1.07977779, 1.73691498, 1.06752221, 1.35363286,
       1.53597531, 1.64373914, 1.53009246, 1.57809212, 1.77180188,
       1.80739796, 1.48994998, 1.58689112, 1.94352012, 1.63606986])

In [122]:
f=np.array(list(map(lambda x: 0 if x==d_min else 25 if x<d_mean else 50 if x==d_mean else 75 if x<d_max else 100, d.ravel()))).reshape((2,3,5))

In [124]:
d

array([[[1.29473985, 1.58006231, 1.91745979, 1.92768728, 1.01459947],
        [1.42756094, 1.6905053 , 1.6401408 , 1.87495922, 1.59722082],
        [1.0585985 , 1.07287276, 1.0726555 , 1.68150092, 1.16990692]],

       [[1.93895981, 1.07977779, 1.73691498, 1.06752221, 1.35363286],
        [1.53597531, 1.64373914, 1.53009246, 1.57809212, 1.77180188],
        [1.80739796, 1.48994998, 1.58689112, 1.94352012, 1.63606986]]])

In [123]:
f

array([[[ 25,  75,  75,  75,   0],
        [ 25,  75,  75,  75,  75],
        [ 25,  25,  25,  75,  25]],

       [[ 75,  25,  75,  25,  25],
        [ 75,  75,  75,  75,  75],
        [ 75,  25,  75, 100,  75]]])

#### 17. Print *d* and *f*. Do you have your expected *f*?
For instance, if your *d* is:
```python
[[[1.85836099, 1.67064465, 1.62576044, 1.40243961, 1.88454931],
[1.75354326, 1.69403643, 1.36729252, 1.61415071, 1.12104981],
[1.72201435, 1.1862918 , 1.87078449, 1.7726778 , 1.88180042]],
[[1.44747908, 1.31673383, 1.02000951, 1.52218947, 1.97066381],
[1.79129243, 1.74983003, 1.96028037, 1.85166831, 1.65450881],
[1.18068344, 1.9587381 , 1.00656599, 1.93402165, 1.73514584]]]
```
Your *f* should be:
```python
[[[ 75.,  75.,  75.,  25.,  75.],
[ 75.,  75.,  25.,  25.,  25.],
[ 75.,  25.,  75.,  75.,  75.]],
[[ 25.,  25.,  25.,  25., 100.],
[ 75.,  75.,  75.,  75.,  75.],
[ 25.,  75.,   0.,  75.,  75.]]]
```

In [ ]:
# your code here

#### 18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), use string values  ("A", "B", "C", "D", and "E") to label the array elements. For the example above, the expected result is:

```python
[[[ 'D',  'D',  'D',  'B',  'D'],
[ 'D',  'D',  'B',  'B',  'B'],
[ 'D',  'B',  'D',  'D',  'D']],
[[ 'B',  'B',  'B',  'B',  'E'],
[ 'D',  'D',  'D',  'D',  'D'],
[ 'B',  'D',   'A',  'D', 'D']]]
```
**Note**: you don't have to use Numpy in this question.

In [125]:
# your code here
list("ABCDE")

['A', 'B', 'C', 'D', 'E']

In [126]:
mapp=dict(zip(set(f.ravel()),list("ABCDE")))

{0: 'A', 25: 'B', 75: 'C', 100: 'D'}

In [ ]:
for ind1,i in enumerate(d):
    for ind2,j in enumerate(i):
        for ind3,k in enumerate(j):
            f[ind1,ind2,ind3]=mapp[k]
            
# this will work if we change the datatype of the array